boto3==1.4.7
botocore==1.7.4
dj-database-url==0.4.2
Django==1.11.3
django-bootstrap3==9.0.0
django-debug-toolbar==1.8
django-hitcount==1.2.2
django-storages==1.6.5
docutils==0.14
jmespath==0.9.3
markdown2==2.3.4
olefile==0.44
pep8==1.7.0
Pillow==4.2.1
psycopg2==2.7.3
Pygments==2.2.0
python-dateutil==2.6.1
python-decouple==3.0
pytz==2017.2
s3transfer==0.1.11
six==1.10.0
sqlparse==0.2.4
virtualenv==15.1.0
