{% extends "layout.html" %}
{% load static from staticfiles %}
{% load humanize %}
{% load custom_filters %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<!-- Img -->
<div class="parallax" data-background="{{post.image.url}}" data-color="#36383e" data-color-opacit="0.8" data-img-width="2500" data-img-height="1600">
	<div class="parallax-content">
		<div class="container">
			<div class="col-md-12 argin-top-100 adding-top-100">

				<!-- Home Background Text -->
				<div class="home-parallax">
					<h4>
						<i class="fa fa-calendar-check-o"></i> {{post.created_at.date}}&nbsp; &nbsp; &nbsp;
						<i class="fa fa-user"></i> {{post.author.first_name}}
					</h4>
					<h1>{{post.title}}</h1>
					<div class="listing-badges padding-top-10">
						{% for tag in tag_list %}
							<span>
								<a href="{% url 'blog:tag-search' tag=tag %}">
									<i class="sl sl-icon-tag"></i> {{tag}}
								</a>
							</span>&nbsp;
						{% endfor %}
					</div>
					<br/>
				</div>
				<!-- Home Background Text / End -->
			</div>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Blog Posts -->
	<div class="blog-page margin-top-20">
	<div class="row">


		<!-- Post Content -->
		<div class="col-md-12">


			<!-- Blog Post -->
			<div class="blog-pos single-post">
			
				<!-- Content -->
				<div class="col-md-8 col-md-offset-2 post-content">
					<h3>{{post.title}}</h3>
					<p>{{post.content|markdown_to_html}}</p>

					<div class="clearfix"></div>

				</div>
			</div>
			<!-- Blog Post / End -->


			<!-- Post Navigation -->
			<ul id="posts-nav" class="margin-top-0 margin-bottom-40">
			{% if post_next != None %}
				<li class="next-post">
					<a href="{% url 'blog:detail' slug=post_next.slug slug_title=post_next.slug_title %}"><span>Next Post</span>
					{{post_next.title}}</a>
				</li>
			{% endif %}
			{% if post_prev != None %}
				<li class="prev-post">
					<a href="{% url 'blog:detail' slug=post_prev.slug slug_title=post_prev.slug_title %}"><span>Previous Post</span>
					{{post_prev.title}}</a>
				</li>
			{% endif %}
			</ul>
			

	</div>
	<!-- Content / End -->
</div>
</div>
</div>

<script type="text/javascript">
	window.onload = function(e){ 
    document.getElementById('id_hits').value = {{post.hits}} + 1;
}
</script>

{% endblock %}