{% extends "layout.html" %}
{% load static from staticfiles %}
{% load humanize %}
{% load bootstrap3 %}
{% load custom_filters %}

{% block title %} Python, Django &amp; the in-betweens {% endblock %}

{% block content %}

<!-- Content
================================================== -->
<div class="container margin-top-50">

	<!-- Blog Posts -->
	<div class="blog-page">
	<div class="row">
		<div class="col-md-8">

			<h2>About</h2>
			<p>Hi there! My name is Victor, I'm a software engineer and I relish all things technology (software for the most part). I currently live in Lagos, Nigeria - a beautiful city with lots to do and enough traffic to slow down lightening.</p>

			<p> I hope to share on here snippet by snippet my adventures in programming and problem solving. Most of my work is centered around Python and all it entails. Although, you will find some JS in the mix from time to time. I also learn with the machines... (doesn't sound as cool as I intended), basically I do machine learning as well.

			<figure><pre><code> import this</code></pre></figure>

			<div class="clearfix"></div>

		</div>

	<!-- Blog Posts / End -->


	<!-- Widgets -->
	<div class="col-md-4">
		<div class="sidebar right">

	<!-- Widget -->
			<div class="widget">

				<h3>Popular Posts</h3>
				<ul class="widget-tabs">

					<!-- Post #1 -->
					<li>
						<div class="widget-content">
							<div class="widget-thumb">
							<a href="blog-full-width-single-post.html"><img src="{{post.image.url}}" alt=""></a>
						</div>
							
						<div class="widget-text">
							<h5><a href="blog-full-width-single-post.html">{{popular.title}} </a></h5>
							<span>{{popular.created_at.date}}</span>
						</div>
						<div class="clearfix"></div>
						</div>
					</li>
				</ul>

			</div>
		<!-- Widget / End-->

	<!-- Widget -->
			<div class="widget ">
				<h3 class="margin-top-0 margin-bottom-25">Social</h3>
				<ul class="social-icons rounded">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Widget / End-->


			<!-- Widget -->
			<div class="widget">
				<h3>Got any questions?</h3>
				<div class="info-box margin-bottom-10">
					<div class="row">
				        <form action="" method="POST">
				        	{% if messages %}
								{% for message in messages %}
									<div class="notification success closeable">
										<p><i class="fa fa-check-circle">&nbsp;&nbsp; </i>{{message}}</p>
										<a class="close" href="#"></a>
									</div>
								{% endfor %}
							{% endif %}

				            {% for field in form %}
				            	{{ field }}
				            {% endfor %}
				            {% csrf_token %}
				            <br/>
				            <button type="submit" class="button col-md-12"><i class='fa fa-envelope-o'></i>Drop Me a Line</button>
				        </form>
			    	</div>
				</div>
			</div>
			<!-- Widget / End -->
		
			<div class="clearfix"></div>
			<div class="margin-bottom-40"></div>
		</div>
	</div>
	</div>
	<!-- Sidebar / End -->


</div>
</div>

{% endblock %}