{% extends "layout.html" %}
{% load static from staticfiles %}
{% load humanize %}
{% load bootstrap3 %}
{% load custom_filters %}
{% load hitcount_tags %}

{% block title %} Python, Django &amp; the in-betweens {% endblock %}

{% block content %}

<!-- Home background image
================================================== -->

<div class="parallax" data-background="{% static 'images/Wild_Ponies.jpg' %}" data-color="#36383e" data-color-opacity="0.5" data-img-width="2500" data-img-height="1600">
	<div class="parallax-content">
		<div class="container">
			<div class="col-md-12">

				<!-- Home Background Text -->
				<div class="home-parallax">
					<div class="listing-badges">
						<span>
							<h3>there's a <i>victor</i> in every victory</h3>
							<h4>I am a Software Engineer &amp; an outdoors enthusiast living in <del>Lagos</del> Essex.</h4>
							<h4>I enjoy telling tales of great old Pythons in deep mystical Djungles.</h4>
							<h4>Background: Wild Ponies of Dartmoor</h4>
						</span>
					</div>
				</div>
				<!-- Home Background Text / End -->
			</div>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container margin-top-50">

	<!-- Blog Posts -->
	<div class="blog-page">
	<div class="row">
		<div class="col-md-8">

			<!-- Blog Post -->
			{% for post in posts %}	
			<div class="blog-post">
				<div class="post-content" style="padding-top:2px; padding-bottom: 2px; padding-left: 20px;">
					<h1><a href="{% url 'blog:detail' slug=post.slug slug_title=post.slug_title %}">{{ post.title}}</a></h1>
					<ul class="post-meta margin-top-20 margin-bottom-10">
						<li><i class="fa fa-calendar-check-o"></i> {{ post.created_at.date }}</li>
						<li><i class="sl sl-icon-user"></i> {{ post.author.first_name }}</li>
						<li><i class="sl sl-icon-clock"></i> {{ post.content|length|time_estimate }} minutes read</li>
						<li><i class="sl sl-icon-heart"></i> {{ post.likes }}</li>
					</ul>
				</div>
				
				<!-- Img -->
				<img src="{{post.image.url}}" />
			
				<!-- Content -->
				<div class="post-content">
					<p style="margin-top:-10px;">{{post.content|truncatechars:180|markdown_to_html}}</p>

					<a href="{% url 'blog:detail' slug=post.slug slug_title=post.slug_title %}" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
				</div>
			</div>
			{% endfor %}
			<!-- Blog Post / End -->

			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="col-md-5 col-md-offset-4">
			{% if is_paginated %}
				<ul class="pagination">
					{% if page_obj.has_previous %}
						<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
					{% else %}
						<li class="disabled"><span>&laquo;</span></li>
					{% endif %}

					{% for i in paginator.page_range %}
						{% if page_obj.number == i %}
							<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
						{% else %}
							<li><a href="?page={{ i }}">{{ i }}</a></li>
						{% endif %}
					{% endfor %}

					{% if page_obj.has_next %}
						<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
					{% else %}
						<li class="disabled"><span>&raquo;</span></li>
					{% endif %}
				</ul>
			{% endif %}
			</div>
			<div class="clearfix"></div>

			<!-- Blog Posts / End -->
		</div>



	<!-- Widgets -->
	<div class="col-md-4">
		<div class="sidebar right">

			<!-- Widget -->
			<div class="widget">
				<h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
				<form id="searchform" action="{% url 'blog:search' %}" method="get" accept-charset="utf-8">
				<div class="search-blog-input">
					<div class="input"><input class="search-field" type="text" placeholder="Type and hit enter" name="q"/></div>
				</div>
				<div class="clearfix"></div>
				</form>
			</div>
			<!-- Widget / End -->

			<!-- Widget -->
			<div class="widget">

				<h3>Popular Posts</h3>
				<ul class="widget-tabs">

					{% for post in popular %}
					<li>
						<div class="widget-content">
							<div class="widget-thumb">
								<a href="{% url 'blog:detail' slug=post.slug slug_title=post.slug_title %}"><img src="{{post.image.url}}" height="128"></a>
							</div>
							
							<div class="widget-text">
								<h5><a href="{% url 'blog:detail' slug=post.slug slug_title=post.slug_title %}">{{post.title}} </a></h5>
								<span>{{post.created_at.date}}</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					{% endfor %}
					
				</ul>

			</div>
			<!-- Widget / End-->




			<!-- Widget -->
			<div class="widget">
				<h3 class="margin-top-0 margin-bottom-25">Social</h3>
				<ul class="social-icons rounded">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>

			</div>
			<!-- Widget / End-->

			<div class="clearfix"></div>
			<div class="margin-bottom-40"></div>
		</div>
	</div>
	</div>
	<!-- Sidebar / End -->


</div>
</div>

{% endblock %}